# Hugging Face credentials
HF_USERNAME="MahmoodAnaam"
HF_TOKEN="your_huggingface_token"

# Weights & Biases credentials
WANDB_PROJECT="your_wandb_project"
WANDB_ENTITY="your_wandb_entity"
WANDB_API_KEY="your_wandb_api_key"

# TIRA credentials
TIRA_CLIENT_TOKEN="your_tira_client_token"
